<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CutBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CutBox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CutBoxHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CutBoxHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CutBoxUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CutBoxUnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>962D6D6D20746109007E3785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963CAFE328D96812003F9CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965348CF2843316B000FD0A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E1E593205D243400F994ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E1E5A3205D243400F994ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E1E5AE205D243400F994ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F98EA120BD554D00C8DDA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
